<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= product.name %></title>
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="/js/index.js"></script>
</head>
<body>
<h1><%= product.name %></h1>
<p><%= product.description %></p>
<p>Price: $<%= product.price.toFixed(2) %></p>
<form id="add-to-cart-form">
    <input type="hidden" name="name" value="<%= product.name %>">
    <input type="hidden" name="price" value="<%= product.price %>">
    <button type="submit">Add to Cart</button>
</form>
<p id="success-message" style="display: none;"></p>
<a href="/cart">View Cart (<span id="cart-count"><%= cartCount %></span>)</a>
</body>
</html>
